@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family:
    Ubuntu Nerd Font,
    JetBrainsMono Nerd Font,
    proportional_font,
    monospace_alt_font;
  font-size: 13px;
  transition: 0s;
}

window#waybar {
  background-color: darker(@crust);
  color: @text;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: @crust;
}

tooltip label {
  background-color: @crust;
  color: @text;
}

#workspaces button {
  padding: 0 6px;
  background-color: transparent;
  color: @subtext1;
  /* margin: 2px 1px; */
  margin-right: 2px;
}

#workspaces button:hover,
#workspaces button.urgent {
  /* background-color: @mantle; */
  /* box-shadow: inset 0 0 0px 1px @base; */
  color: @text;
}

#workspaces button.active {
  background-color: @base;
  /* box-shadow: inset 0 0 0px 1px @surface1; */
  color: @text;
}

/* .modules-left > widget:first-child > #workspaces > button:first-child { */
/*   margin-left: 2px; */
/* } */

#mpris,
#clock,
#language,
#bluetooth,
#network,
#temperature,
#mode,
#sound,
#battery,
#info,
#tray,
#idle_inhibitor,
#scratchpad,
#pulseaudio,
#cpu,
#memory,
#disk {
  padding: 0 8px;
  color: @text;
}
